.con-featured {
  padding-left: 5%;
  padding-right: 5%;
  justify-content: center;
  display: flex;
  padding-top: 2rem;
}

.main-featured {
  text-align: justify;
  padding-left: 1rem;
}

.video-featured {
  height: "390";
  width: "640";
}

@media (max-width: 1024px) {
  .con-featured {
    display: block;
  }
  iframe {
    height: 195px;
    width: 320px;
  }
}
